#anew
.c9
.idea

*.ftpconfig
#anew
mongodb/**/*.json
#environment files
.env

#for nodejs node_moudles
node/**/node_modules
**/node_modules
node/config/pool.js
node/**/uploadedFiles

#for pool
node/**/pool.js
node/config/db_config.json
#for mongodb
mongodb/backup

#python venv
python/**/.venv
